<!DOCTYPE html>
<html lang="en">
<head>
    <title>three.js webgl - equirectangular panorama</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link type="text/css" rel="stylesheet" href="main.css">
</head>
<body>

<div id="container"></div>
<div id="info">
    <a href="http://threejs.org" target="_blank" rel="noopener">three.js webgl</a> - equirectangular panorama demo. photo by <a href="http://www.flickr.com/photos/jonragnarsson/2294472375/" target="_blank" rel="noopener">Jón Ragnarsson</a>.<br />
    drag equirectangular texture into the page.
</div>

<script src="https://cdn.bootcss.com/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdn.bootcss.com/stomp.js/2.3.3/stomp.min.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script>
    // stomp 客户端
    var stompClient = null;
    /**
     *  建立 websocket 连接
     */
    function connect() {
        var socket = new SockJS("/god");
        stompClient = Stomp.over(socket);


        stompClient.connect({},function (frame){
            //监听弹幕信息
            stompClient.subscribe('/topic/god',function (response) {
                console.log(response)
                var data = JSON.parse(response.body);
                var message = {

                };

            })
        })

    }

    $(function(){
        connect();
    })
</script>


</body>
</html>