<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>拍照</title>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>

<br/>

<div>
    <table>
        <tr>
            <td><video id="v" style="height: 300px;"></video></td><td><img id="help" style="max-width: 500px;max-height: 500px" src=""/></td>
        </tr>
    </table>
    <div style="width: 60%">


    </div>
    <div style="width: 40%">返回信息
        <input id="consoleLog" style="color:#F00;font-weight:bold;"/>
    </div>

    <div>
        <a href="#" onclick="change('ppt')">PPT</a>
        <a href="#" onclick="change('map')">map</a>
        <a href="#" onclick="change('robot')">robot</a>
        <a href="#" onclick="change('video')">video</a>
    </div>


</div>

<canvas id="canvas" style="display:none;"></canvas>
<br/>
<img src="http://placehold.it/640&text=Your%20image%20here%20..." id="photo" alt="photo">

<script>
    !(function () {
        // 老的浏览器可能根本没有实现 mediaDevices，所以我们可以先设置一个空的对象
        if (navigator.mediaDevices === undefined) {
            navigator.mediaDevices = {};
        }
        if (navigator.mediaDevices.getUserMedia === undefined) {
            navigator.mediaDevices.getUserMedia = function (constraints) {
                // 首先，如果有getUserMedia的话，就获得它
                var getUserMedia = navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia;

                // 一些浏览器根本没实现它 - 那么就返回一个error到promise的reject来保持一个统一的接口
                if (!getUserMedia) {
                    return Promise.reject(new Error('getUserMedia is not implemented in this browser'));
                }

                // 否则，为老的navigator.getUserMedia方法包裹一个Promise
                return new Promise(function (resolve, reject) {
                    getUserMedia.call(navigator, constraints, resolve, reject);
                });
            }
        }
        var constraints = {
            video: true,
            audio: false
        };
        var videoPlaying = false;
        var v = document.getElementById('v');
        var promise = navigator.mediaDevices.getUserMedia(constraints);
        promise.then(stream => {
            // 旧的浏览器可能没有srcObject
            if ("srcObject" in v) {
                v.srcObject = stream;
            } else {
                // 防止再新的浏览器里使用它，应为它已经不再支持了
                v.src = window.URL.createObjectURL(stream);
            }
            v.onloadedmetadata = function (e) {
                v.play();
                videoPlaying = true;
            };
        }).catch(err => {
            console.error(err.name + ": " + err.message);

        });

        setInterval(function () {
            if (videoPlaying) {
                let canvas = document.getElementById('canvas');
                canvas.width = v.videoWidth;
                canvas.height = v.videoHeight;
                canvas.getContext('2d').drawImage(v, 0, 0);
                let data = canvas.toDataURL('image/jpg');
                document.getElementById('photo').setAttribute('src', data);
                $.ajax({
                    contentType: "application/json",
                    url: "/getPhoto",
                    data: JSON.stringify({base64: data, typeEnum: "MAP"}),
                    type: "POST",
                    // dataType: "json",
                    success: function (data) {
                        console.log(data);
                        $("#consoleLog").val(data);
                    }
                });
            }
        }, 1000);

    })();

    function change(flag) {

        $.ajax({
            url: "/change?flag=" + flag,
            type: "PUT",
            success: function (data) {
            }
        });
        document.getElementById("help").setAttribute("src", "/" + flag + ".png");
        if (flag === 'robot') {
            window.open('http://localhost:8080/robot');
        }
        if (flag === 'map') {
            window.open('https://www.google.com/maps/?hl=zh-CN');
        }
    }

</script>
</body>

</html>